@font-face {
  font-family: blenda;
  src: url(../fonts/BlendaScript.otf);
}
@font-face {
  font-family: fira;
  src: url(../fonts/FiraSans-UltraLight.otf);
}
* {
  font-family: "fira";
}
body {
  margin: 0;
}

.title h1 {
  margin: 10px 15px;
  font-family: "blenda";
}
.title {
  border-bottom: 1px solid #e3e3e3;
}
.profile {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 70%;
  margin: 0 auto;
}
.picture {
  width: 150px;
  height: 150px;
  border-radius: 60%;
  overflow: hidden;
  margin: 15px;
}
.profile img {
  width: 100%;
}
.details {
  margin-top: 20px;
}
.details > h1,
h4 {
  margin: 0;
  font-weight: 100;
}
.details h4 {
  color: #a1a1a1;
}
.program {
  margin: 10px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
}
.proto-graph {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  margin: 0 auto;
}
.program img {
  width: 100%;
}
figure {
  margin: 0;
}
.divider {
  height: 50px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 30px;
}

@media (max-width: 414px) {
  header {
    text-align: center;
  }
  .proto-graph {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .program {
    margin: 10px auto;
  }
  .details {
    text-align: center;
  }
  .picture {
    margin: 0 auto;
    margin-top: 11px;
  }
  .profile {
    grid-template-columns: 1fr;
    width: 80%;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  header {
    text-align: center;
  }
  .proto-graph {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .program {
    margin: 10px auto;
  }
}
