<div class="adjustImg">
    <div id="adjustImg">
    </div>
    <div class="rotate" onclick="rotateImage()">
        <img src="assets/img/rotation.svg" alt="">
    </div>
    <div class=" main-controls">
        <div class="controls back" onclick="goBackTo('uploader')">Back</div>
        <div class="controls add-filters" onclick="addFilters()">Add Filters</div>
    </div>
</div>