<div class="image">
    <figure id="canvas">
        <img src="assets/img/test.jpg" alt="" />
    </figure>
</div>
<div class="filters">
    {{#each filters}}
        <div class="style" onclick="changeFilter('{{class}}')">
           <p>{{name}}</p>
           <figure class="{{class}}">
                <img src="assets/img/test.jpg" class="demo" alt="">
           </figure>
        </div>
    {{/each}}
</div>