<div class="content">
    <h1 class="finish-head">Congratulations, Your files are generated.</h1>
    <div class="dano-bye">
        <img src="assets/img/happy.svg" alt="">
    </div>
    <div class="img-upload danob">
        <span>See Files</span>
    </div>
    <div class="img-upload danob open-browser" onclick="">
        <span>Open in Browser</span>
    </div>
</div>
