<div class="content">
    <h2 class="profile-header">Your image is ready</h2>
    <div class="created-image">
        <figure class="{{ filter }}">
            <img src="{{ instaImage }}" class="demo" alt="">
        </figure>
    </div>
    <div class="img-upload" onclick="generateIndex()">
        <span>Generate</span>
    </div>
    <div class="img-upload danob open-browser" onclick="addMore()">
        <span>Add more posts</span>
    </div>
</div>
