<div class="welcome">
    <div class="logo">
        <h1>Program</h1>
    </div>
    <div class="dano">
        <img src="assets/img/selfie.svg" alt="">
    </div>
    <div class="img-upload" onclick="onboardMe()">
        <span id="initializeMessage">Let's get started</span>
    </div>
</div>
