<div class="content">
    <div class="user-icon">
        <img src="assets/img/user.svg" alt="">
    </div>

    <div class="group">
        <input type="text" id="name" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name</label>
    </div>

    <div class="group">
        <input type="text" id="bio" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>About</label>
    </div>

    <div class="img-upload" onclick="saveProfile()">
        <span>Register</span>
    </div>
</div>
