<div class="content">
    <div class="upload" onclick="uploadProfile()">
        <p>Click to Upload Image</p>
    </div>
    <div id="adjustProfile">
    </div>
    <div class="input-group">
        <div class="name">
            <input type="text" placeholder="Display Name" id="">
        </div>
        <div class="bio">
            <textarea placeholder="Bio"></textarea>
        </div>
    </div>
    <div class="img-upload" onclick="saveProfile()">
        <span>Upload Image</span>
    </div>
</div>