<div class="content">
    <h2 class="profile-header">Your image is ready</h2>
    <div class="created-image">
        <img src="{{instaImage}}" class="demo" alt="">
    </div>
    <div class="img-upload">
        <span>Upload Image</span>
    </div>
</div>
