<div class="settings">
    <div class="setting-group">
        <p>Settings</p>
    </div>
    <div class="setting" onclick="editProfile()">
        <p>Edit Profile</p>
    </div>
    <div class="setting">
        <p>Edit Links</p>
    </div>
    <div class="setting" onclick="contribute()">
        <p>Contribute</p>
    </div>
    <div class="setting" onclick="support()">
        <p>Support</p>
    </div>
    <div class="setting" onclick="tweet()">
        <p>Tweet some ❤️</p>
    </div>
</div>

<div class="thanks-dano">
    <div class="thanks-img">
        <img src="assets/img/kiss.svg" alt="">
    </div>
    <div class="thanks-message">
        <p>Thanks and Love from Team XenoX 🔥 </p>
    </div>
</div>
