<div class="content">
    <div class="icon-camera">
        <img src="assets/img/camera.svg" alt="">
    </div>
    <h2 class="upload-message">Please choose a new Picture</h2>
    <div class="img-upload" onclick="imgUpload()">
        <span>Upload Image</span>
    </div>
</div>