@font-face {
	font-family: blenda;
	src: url(../fonts/BlendaScript.otf);
}
@font-face {
	font-family: fira;
	src: url(../fonts/FiraSans-UltraLight.otf);
}
*{
    font-family: 'fira'
}
body{
    margin: 0;
}
header{
    padding: 10px 0;
    border-bottom: 1px solid #E3E3E3
}
#view{
    margin-top:1px;
}
.image img {
	width: 100%;
}
.style {
	margin-left: 10px;
	padding: 5px;
	font-family: sans-serif;
	cursor: pointer;
	text-align: center;
}
.style p{
	margin: 5px;
}
.title{
    font-family: 'blenda';
    text-align: center;
    font-weight: 100;
    margin: 0;
    font-size: 24px;
}
.filters {
	display: flex;
	overflow: scroll;
}
::-webkit-scrollbar {
	display: none;
}
.demo {
	width: 100px;
}
figure {
	margin: 0;
}
.img-upload{
	width: 50%;
	background: #5a94ff;
	text-align: center;
	color: #fff;
	font-weight: 900;
	margin: 0 auto;
	padding: 12px 20px;
	margin-top: 50px;
	cursor: pointer;
  }
  .upload-message{
	text-align: center;
    font-size: 20px;
    color: #868080;
  }
  .icon-camera{
	  display: grid;
  }
  .icon-camera img{
	width: 200px;
    margin: 130px auto 10px;
  }
